<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>homework5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>90B00D161E5CEA9800FAE0A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90B00D2C1E5CEA9800FAE0A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90B00D371E5CEA9800FAE0A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
